.banner {
    display: grid;
}

.itemBanner {
    color: rgb(241, 236, 236);
    padding: 1em;
    text-align: center;
    background-color: #e4b6b6; 
    color: rgb(184, 3, 3); 
    padding: 1px; 
    text-align: center; 
    font-size: 20px; 

}

.a {
    background: rgb(231, 220, 213);
    grid-column-start: 0;
    grid-column-end: 1;
}

.b {
    background: rgb(231, 220, 213);
    grid-column-start: 1;
    grid-column-end: 2;
}

.c {
    background: rgb(231, 220, 213);
    grid-column-start: 2;
    grid-column-end: 3;

}

.image-banner {
    width: 80px; /* Ancho de la imagen */
    height: auto; /* La altura se ajustará automáticamente manteniendo la proporción */
}

.title_style {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
    height: 100%;
    color: #af2c2c;
}
