/* Inicio de estrilo pagina principal */
/* ################################## */
.banner {
    display: grid;
}

.itemBanner {
    text-align: center;
    background-color: rgb(231, 220, 213);
    color: rgb(184, 3, 3);
    padding: 1px;

}

.a {
    grid-column-start: 0;
    grid-column-end: 1;
}

.b {
    padding-top: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.c {
    grid-column-start: 2;
    grid-column-end: 3;

}

.d {
    background: rgb(231, 220, 213);
    color: rgb(184, 3, 3);
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

.black-border {
    background-color: black;
    color: black;
    width: auto;
    height: 2px;
}

.image-banner {
    width: 80px;
    height: auto;
}

.title_style {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
    height: 100%;
    color: #af2c2c;
}

#space-big {
    height: 20px;
}

.product-photo {
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
    height: 250px;
    border-radius: 5px;
}


/* ############################### */
/* ############################### */
/* Fin de estrilo pagina principal */


/* Iicio de estrilo pagina de producto */
/* ################################### */