/* Inicio de estrilo pagina principal */
/* ################################## */
.banner {
    display: grid;
}

.itemBanner {
    text-align: center;
    background-color: rgb(231, 220, 213);
    color: rgb(184, 3, 3);
    padding: 1px;

}

.a {
    grid-column-start: 0;
    grid-column-end: 1;
}

.b {
    padding-top: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.c {
    grid-column-start: 2;
    grid-column-end: 3;

}

.d {
    background: rgb(231, 220, 213);
    color: #af2c2c;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

.footer-banner {
    background-color:#681e1e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    
}

.black-border {
    background-color: black;
    color: black;
    width: auto;
    height: 2px;
}

.image-banner {
    width: 80px;
    height: auto;
}

.title_style {
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    font: TimesNewRomans;
    font-weight: bolder;
    height: 100%;
    color: #af2c2c;
}

#space-small {
    height: 20px;
}

#space-big {
    height: 150px;
}

.product-photo {
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
    height: 250px;
}

.add-button {
    padding-left: 5px;
    padding-right: 5px;
}




#addProductButton {
    background-color: #d93e3e; 
    color: #FFFFFF; 
    padding: 8px 135px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
    



/* ############################### */
/* ############################### */
/* Fin de estrilo pagina principal */


/* Iicio de estrilo pagina de producto */
/* ################################### */

#prod_photo{
    width:100%;
    border-radius: 10px;
    margin-top: 10%;
}

#prod_title{
    margin-top: 10%;
    font-family: 'Times New Roman';
}    

#prod_date{
    font-size: 12px;
    color: gray;
}

#prod_description{
    margin-top: 10%;
    font-family: 'Times New Roman';
    font-size: 20px;
}

#review{
    margin-top: 3%;
    font-family: 'Times New Roman';
}

#review_opinion{
    margin: 1px;
}

#talla{
    width: auto;
    margin-top: 5%;
}

#shop_button{
    margin-top: 5%;
}

#review_button{
    margin-top: 5%;
}

#opinion_usuario{
    margin-top: 5%
}

#usuario_x{
    border-style: solid;
    margin-top: 5%;
    border-color: red;
    border-radius: 5px;
}

.estrella{
    color: red;
}

/* ############################### */
/* ############################### */
/* Fin de estrilo pagina de producto */

 /* Iicio de estrilo pagina de nuevo_producto */
/* ################################### */ 

/* Estilo del título "Nuevo Elemento" */
h1 {
    text-align: center; /* Centra el texto horizontalmente */
    background-color: #f4f6f8; /* Color de fondo */
    color: #FFFFFF; /* Color del texto */
    padding: 10px; /* Relleno (padding) */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px;
  }
  
/* Estilo general del formulario */
#elementForm {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario en la página */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ddd; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f7f7f7; /* Color de fondo */
  }
  
  /* Estilo de etiquetas (labels) */
  label {
    display: block; /* Cada etiqueta en una línea nueva */
    margin-bottom: 5px; /* Espacio inferior entre etiquetas */
    font-weight: bold; /* Texto en negrita */
  }
  
  /* Estilo de campos de entrada de texto (input) y textarea */
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espacio inferior entre campos */
    border: 1px solid #ddd; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  /* Estilo de campo de archivo (input type="file") */
  input[type="file"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espacio inferior entre campos */
    border: 1px solid #ddd; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  /* Estilo de campo de radio (input type="radio") */
  input[type="radio"] {
    margin-right:5px; /* Espacio a la derecha de los radio buttons */
  }
  
  /* Estilo del botón de envío (submit) y botón de cancelar */
  button[type="submit"],
  button[type="button"] {
    margin-top: 10px; /* Espacio en la parte superior de los botones */
    background-color: #b73333; /* Color de fondo */
    color: #FFFFFF; /* Color del texto */
    padding: 10px 20px; /* Relleno (padding) */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 15px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #7c2324; /* Cambia el color de fondo al pasar el ratón por encima */
  }
  

 
  
  