/* Inicio de estrilo pagina principal */
/* ################################## */
.banner {
    display: grid;
}

.itemBanner {
    text-align: center;
    background-color: rgb(231, 220, 213);
    color: rgb(184, 3, 3);
    padding: 1px;

}

.a {
    grid-column-start: 0;
    grid-column-end: 1;
}

.b {
    padding-top: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.c {
    grid-column-start: 2;
    grid-column-end: 3;

}

.d {
    background: rgb(231, 220, 213);
    color: #af2c2c;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

.footer-banner {
    background-color:#681e1e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    
}

.black-border {
    background-color: black;
    color: black;
    width: auto;
    height: 2px;
}

.image-banner {
    width: 80px;
    height: auto;
}

.title_style {
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    font: TimesNewRomans;
    font-weight: bolder;
    height: 100%;
    color: #af2c2c;
}

#space-small {
    height: 20px;
}

#space-big {
    height: 150px;
}

.product-photo {
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
    height: 250px;
}

.add-button {
    padding-left: 5px;
    padding-right: 5px;
}



/* ############################### */
/* ############################### */
/* Fin de estrilo pagina principal */


/* Iicio de estrilo pagina de producto */
/* ################################### */

#prod_photo{
    width:100%;
    border-radius: 10px;
    margin-top: 10%;
}

#prod_title{
    margin-top: 10%;
    font-family: 'Times New Roman';
}    

#prod_date{
    font-size: 12px;
    color: gray;
}
#prod_description{
    margin-top: 10%;
    font-family: 'Times New Roman';
    font-size: 20px;
}