.banner {
    display: grid;
}

.itemBanner {
    color: rgb(241, 236, 236);
    padding: 1em;
    text-align: center;
    background-color: #e4b6b6; 
    color: rgb(184, 3, 3); 
    padding: 1px; 
    text-align: center; 
    font-size: 20px; 

}

.a {
    background: rgb(199, 39, 39)
    grid-column-start: 0;
    grid-column-end: 1;
}

.b {
    background: rgb(150, 87, 214);
    grid-column-start: 1;
    grid-column-end: 4;
}

.c {
    background: rgb(75, 245, 200);
    grid-column-start: 4;
    grid-column-end: 4;

}

.imagen-banner {
    width: 125px; /* Ancho de la imagen */
    height: auto; /* La altura se ajustará automáticamente manteniendo la proporción */
}